<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listagem de clientes</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
    
@for(cliente of clientes; track cliente.id){
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ cliente.nome }}</ion-card-title>
      <ion-card-subtitle><b>Código de identificação</b>: {{ cliente.id }}</ion-card-subtitle>
      <ion-card-subtitle><b>CPF</b>: {{ cliente.cpf }}</ion-card-subtitle>
      <ion-card-subtitle><b>Data de nascimento</b>: {{ cliente.data_nascimento }}</ion-card-subtitle>
      <ion-card-subtitle><b>Estado civil</b>: {{ cliente.estado_civil }}</ion-card-subtitle>
      <ion-card-subtitle><b>Telefone</b>: {{ cliente.telefone }}</ion-card-subtitle>
      <ion-card-subtitle><b>E-mail</b>: {{ cliente.email }}</ion-card-subtitle>
      <ion-card-subtitle><b>Senha</b>: {{ cliente.senha }}</ion-card-subtitle>
    </ion-card-header>

    <ion-button (click)="excluir(cliente.id)">Excluir</ion-button>
    <ion-button (click)="alterar(cliente.id)">Alterar</ion-button>
  </ion-card>
}
</ion-content>
